{{ define "main" }}
<div class="hero-image" style="background-image: url('{{ .Params.hero_image }}');">
    <div class="hero-content" style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
    </div>
</div>



<div class="content-container">


<!-- 顶部个人资料 -->
<div class="top-container">
<img src="{{ .Site.Params.avatar }}" class="top-head" alt="Avatar">
<p class="top-name">
    听不见不想看
</p>
<a class="top-message" href="https://mastodon.social/@wpprqi">https://mastodon.social/@wpprqi</a>
<p class="top-message-down">
    The darkness is boundless, yet humans vainly imagine light
</p>
<button class="top-theme-button">按钮</button>
</div>

    <main class="content">
        <section class="article-list">
            {{ range where .Pages "Type" "post" }}
                {{ partial "article-block.html" . }}
            {{ end }}
        </section>
    </main>
</div>
{{ end }}