<footer>
  <img class="footer-images" src="{{ .Site.Params.footer_image }}">
  <p class="footer-word">Designed by {{ .Site.Title }} &copy; {{ now.Year }}
  </p>
  <a class="footer-link" href="{{ .Params.link }}">
    Telegram
  </a>
  <a class="footer-link" href="{{ .Params.link }}">
    Gmail
  </a>
  <a class="footer-link" href="{{ .Params.link }}">
    Mastodon
  </a>
  <a class="footer-link" href="{{ .Params.link }}">
    Github
  </a>
  <a class="footer-link" href="{{ .Params.link }}">
    Rss
  </a>

</footer>
