<footer>
  <img class="footer-images" src="{{ .Site.Params.footer_image }}">
  <p class="footer-word">Designed by {{ .Site.Title }} &copy; {{ now.Year }}
  </p>
  <a class="footer-link" href="https://t.me/crthbi">
    Telegram
  </a>
  <a class="footer-link" href="mailto:wpprqi@duck.com">
    Gmail
  </a>
  <a class="footer-link" href="https://mastodon.social/@wpprqi">
    Mastodon
  </a>
  <a class="footer-link" href="https://github.com/arkleselect">
    Github
  </a>
  <a class="footer-link" href="{{ .Params.link }}">
    Rss
  </a>

</footer>
