<head>
  <!-- 引用 CSS 文件 -->
  <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
</head>
<body>
  <header>
    <!-- 导航栏内容 -->
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="/">首页</a></li>
        <li><a href="/friends">识友</a></li>
        <li><a href="/categories">分组</a></li>
        <li><a href="https://mastodon.social/@wpprqi" target="_blank" rel="noopener noreferrer">Mastodon</a></li>
        <li><a href="/about">关于</a></li>
        <li><a href="/more">更多</a></li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <button id="theme-toggle" class="theme-toggle-button">
        <img src="/icons/light-theme-icon.svg" id="light-icon" class="theme-icon" alt="Light Theme Icon">
        <img src="/icons/dark-theme-icon.svg" id="dark-icon" class="theme-icon" alt="Dark Theme Icon">
      </button>
    </nav>
  </header>
  
  <!-- 在页面底部引用 JavaScript 文件 -->
  <script src="{{ "js/nav.js" | relURL }}"></script>
</body>
