{{ $movieIcon := resources.Get "icons/movie.svg" }}
{{ $articleIcon := resources.Get "icons/article.svg" }}

<div class="sidebar">
    <button class="theme-button">切换主题</button>
    <div class="category-blocks">
        {{ $uniqueCategories := slice }}
        {{ range .Pages }}
            {{ $pageCategories := .Params.categories }}
            {{ range $pageCategories }}
                {{ if not (in $uniqueCategories .) }}
                    {{ $uniqueCategories = $uniqueCategories | append . }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ range $uniqueCategories }}
            <div class="category-block">
                <a href="/categories/{{ . | urlize }}">
                    <img src="/images/categories/{{ . | urlize }}.jpg" alt="{{ . | title }}">
                </a>
            </div>
        {{ end }}
    </div>

    <!-- 推荐电影栏 -->
    <div class="movie-blocks">
        <p class="movie-top">
            <span class="icon-wrapper">
                {{ $movieIcon.Content | safeHTML }}
            </span>
            看过的电影
        </p>
        {{ $movies := shuffle (index site.Data "movies").movies }}
        {{ range first 3 $movies }}
            <div class="movie-block">
                <a href="{{ .link }}">
                    <img src="{{ .image }}" alt="{{ .name }}">
                </a>
                <p class="movie-name">{{ .name }}</p>
            </div>
            <hr class="hr-primary">
        {{ end }}
        <p class="movie-down-one">还有别的</p>
    </div>

    <!-- 其他推荐栏 -->
    <div class="sidebar-sidebar">
        <div class="article-blocks-sidebar">
            <p class="article-top-sidebar">
                <span class="icon-wrapper">
                    {{ $articleIcon.Content | safeHTML }}
                </span>
                刷到的文章
            </p>
            {{ $articles := shuffle (index site.Data "articles").articles }}
            {{ range first 3 $articles }}
                <div class="article-block-sidebar">
                    <a href="{{ .link }}" class="article-link-sidebar">{{ .name }}</a>
                    <div class="article-info-sidebar">
                        <img src="{{ .avatar }}" alt="{{ .name }}" class="article-avatar-sidebar">
                        <p class="article-author-sidebar">{{ .author }}</p>
                    </div>
                </div>
                <hr class="hr-secondary">
            {{ end }}
            <p class="movie-down-two">已经到底了</p>
        </div>
    </div>
</div>
