{{ define "main" }}
  <div class="image" style="background-image: url('{{ .Params.image }}')"></div>
  <div class="main-wrapper"> <!-- 添加一个新的包装容器 -->
    <div class="content-wrapper">
      <main class="content">
        <h1 class="h1-single">{{ .Title }}</h1>
        <p class="article-cate-single">{{ range .Params.Categories }}{{ . | title }}{{ end }}</p>
        {{ if eq .Type "post" }}
          <p class="article-meta-single">{{ .Date.Format "2006-01-02" }}</p>
        {{ end }}

        <!-- 文章内容 -->
        <article class="article-body">
          {{ $content := .Content }}
          {{ $content := replaceRE `<img src="([^"]+)"` `<img src="$1" class="imageBig"` $content }}
          {{ $content := replaceRE `<img src="([^"]+)"\s+alt="([^"]*)\s*\(big\)"` `<img src="$1" alt="$2" class="imageSmall"` $content }}
          {{ $content | safeHTML }}
        </article>
        
        <!-- 相关文章展示 -->
        <span class="related-top-title">推荐阅读</span>
        <div class="related-articles">
          {{ $currentCategories := .Params.Categories }}
          {{ $currentPage := .Permalink }}
          {{ $relatedArticles := (where .Site.Pages "Params.Categories" "intersect" $currentCategories) }}
          {{ $filteredArticles := where $relatedArticles "Permalink" "ne" $currentPage }}
          {{ range $filteredArticles }}
            <a href="{{ .Permalink }}" class="related-article">
              <img src="{{ .Params.image }}" alt="{{ .Title }}" class="related-article-image">
              <div class="related-article-content">
                <h2 class="related-article-title">{{ .Title }}</h2>
                <div class="timeAndmate">
                  <span class="article-time-single-down">{{ partial "reading_time.html" . }}</span>
                  {{ if eq .Type "post" }}
                  <span class="article-meta-single-down">{{ .Date.Format "2006-01-02" }}</span>
                  {{ end }}
                </div>
              </div>
            </a>
          {{ end }}
        </div>
      </main>
    </div>
    <!-- 这里添加 TOC  -->
  </div>
{{ end }}
